<div class="container">
  <div class="row">
    <div class="side col-md-3">
      <%= render 'books/side' %>
    </div>
    <div class="col-md-8 offset-md-1 w-75">
      <h1>Users</h1>
      <div class="table table-striped">
        <table>
          <thead>
            <tr>
              <td class="font-weight-bold">image</td>
              <td class="pl-5 font-weight-bold">name</td>
              <td class="w-75"></td>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpeg", size: "60x60" %></td>
                <td class="pl-5"><%= user.name %></td>
                <td class="pr-5 align-middle text-right"><%= link_to "Show", user_path(user.id), class: "btn btn-secondary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

