<div class="book-error-message">
  <%= render 'books/error', book: @book %>
</div>

<div class="container">
  <div class="row">
    <div class="side col-md-3">
      <%= render 'books/side' %>
    </div>
    <div class="book-table col-md-8 offset-md-1 w-75">
      <h1>Books</h1>
      <%= render 'books/list', books: @books %>
    </div>
  </div>
</div>




